.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
/.quarto/

/posts/accessibility_analysis/r5_graph/
/posts/accessibility_analysis/cache/
/posts/slow_transit/cache/
/posts/slow_transit/r5_networks/
/posts/slow_transit/data/
